* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
}

/*header*/
header {
    background-color: lightcoral;
}

/*main*/
main {
    background-color: lightblue;
    /*make main element take up any surplace space to put the footer down*/
    flex: 1 0 auto;
}

/*footer*/
footer {
    background-color: orange;
}